# Environment variables
.env

# Python virtual environment
venv/
.venv/
__pycache__/
*.pyc

# Raw and processed data
data/raw/*
data/processed/*

# Keep empty folder placeholders
!data/raw/.gitkeep
!data/processed/.gitkeep
reports/validation_predictions.csv

# Models
models/*
!models/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
